<form  class="container" [formGroup]="formulario">
    <main>
        <div class="py-3 text-center">
          <!-- <img class="d-block mx-auto mb-4" src="../assets/brand/bootstrap-logo.svg" alt="" width="72" height="57"> -->
          <h2>Dados do Participante</h2>
          
          <p class="lead">OBS: Obrigatório preencher todos os campos! qualquer alteração fora do prazo informado no Edital, o participante será desclassificado.</p>
        </div>


        <div class="row d-flex justify-content-center aling-items-center">
          
          <div class="col-12 ">

              <div class="row g-2">

                  <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-3">              
                      <label for="cpfCnpj" class="form-label">CPF / CNPJ</label>
                      <input type="text" mask="{{mask}}" class="form-control" id="cpfCnpj" placeholder="Cpf ou Cnpj" autocomplete="off"
                         formControlName="cpfCnpj" (keyup)="verificarTipoPessoa()" [ngClass]="{'is-invalid': displayMessage?.cpfCnpj}">
                      <div class="invalid-feedback" *ngIf="displayMessage?.cpfCnpj">
                        <p [innerHTML]="displayMessage?.cpfCnpj"></p>
                      </div>
                  </div>

                  <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">              
                      <label for="nome" class="form-label">Nome</label>
                      <input type="text" class="form-control" id="nome" placeholder="Nome" autocomplete="off" formControlName="nome" [ngClass]="{'is-invalid': displayMessage?.nome}">
                      <div class="invalid-feedback" *ngIf="displayMessage?.nome">
                        <p [innerHTML]="displayMessage?.nome"></p>
                      </div>
                  </div>

                  <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                      <label for="fantasia" class="form-label">Fantasia</label>
                      <input type="text" class="form-control" id="fantasia" placeholder="Fantasia" autocomplete="off" formControlName="fantasia" >
                  </div>

                <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 d-flex justify-content-between align-items-center">
                  <h5 class="form-check-label mt-1" >Já participou do Festival Gastronômico de Taquaruçu?</h5>
                  <p-toggleButton onLabel="Sim" offLabel="Não" onIcon="{{icon}}" offIcon="pi pi-times" formControlName="jaParticipouFgt" [style]="{'width': '8em'}"></p-toggleButton>

                </div>

                <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                    <label for="email" class="form-label">Email</label>
                    <div class="input-group has-validation">
                      <span class="input-group-text">@</span>
                      <input type="email" class="form-control" id="username" placeholder="exemplo@email.com" formControlName="email" [ngClass]="{'is-invalid': displayMessage?.email}">
                      <div class="invalid-feedback" *ngIf="displayMessage?.email">
                        <p [innerHTML]="displayMessage?.email"></p>
                      </div>
                    </div>
                </div>

                <div class="col-12 col-sm-12 col-md-3 col-lg-3 col-xl-3">
                  <label for="senha" class="form-label">Senha</label>
                  <input type="password" class="form-control" id="senha" placeholder="" formControlName="senha"
                    [ngClass]="{'is-invalid': displayMessage?.senha}">
                  <div class="invalid-feedback" *ngIf="displayMessage?.senha">
                    <p [innerHTML]="displayMessage?.senha"></p>
                  </div>
                </div>

                <div class="col-12 col-sm-12 col-md-3 col-lg-3 col-xl-3">
                  <label for="confirmacaoSenha" class="form-label">Confirmação da Senha</label>
                  <input type="password" class="form-control" id="confirmacaoSenha" placeholder="" formControlName="confirmacaoSenha"
                    [ngClass]="{'is-invalid': displayMessage?.confirmacaoSenha}">
                  <div class="invalid-feedback" *ngIf="displayMessage?.confirmacaoSenha">
                    <p [innerHTML]="displayMessage?.confirmacaoSenha"></p>
                  </div>
                </div>

                <div class="col-12 col-sm-12 col-md-3 col-lg-3 col-xl-3">
                  <label for="cep" class="form-label">Cep</label>
                  <input type="text" class="form-control" id="cep" placeholder="CEP" autocomplete="off" formControlName="cep" 
                      mask="00.000-000" (blur)="obterCep()" [ngClass]="{'is-invalid': displayMessage?.cep}">
                  <div class="invalid-feedback" *ngIf="displayMessage?.cep">
                    <p [innerHTML]="displayMessage?.cep"></p>
                  </div>
                </div>

                
                <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
                  <label for="bairro" class="form-label">Cidade</label>
                  <input formControlName="cidade"
                        [typeahead]="cidades"
                        typeaheadOptionField="cidade"
                        (typeaheadOnSelect)="cidadeSelecionada($event)"
                        class="form-control"
                        [ngClass]="{'is-invalid': displayMessage?.ibgeCidade}">
                    <!-- <div >Carregando...</div> -->
                    <div class="invalid-feedback" *ngIf="displayMessage?.ibgeCidade">
                      <p [innerHTML]="displayMessage?.ibgeCidade"></p>
                    </div>
                </div>

                <div class="col-12 col-sm-12 col-md-3 col-lg-3 col-xl-3">
                  <label for="estado" class="form-label">Estado</label>
                  <select class="form-select" id="estado" formControlName="ibgeUf" [ngClass]="{'is-invalid': displayMessage?.ibgeUf}">
                    <option [ngValue]="item.codigo" *ngFor="let item of listaEstados">{{item.nome}}</option>
                  </select>
                  <div class="invalid-feedback" *ngIf="displayMessage?.ibgeUf">
                    <p [innerHTML]="displayMessage?.ibgeUf"></p>
                  </div>
                </div>

                <div class="col-12 col-sm-12 col-md-7 col-lg-7 col-xl-7">
                  <label for="endereco" class="form-label">Endereço</label>
                  <input type="text" class="form-control" id="endereco" placeholder="Endereço" autocomplete="off" formControlName="endereco"
                      [ngClass]="{'is-invalid': displayMessage?.endereco}">
                  <div class="invalid-feedback" *ngIf="displayMessage?.endereco">
                    <p [innerHTML]="displayMessage?.endereco"></p>
                  </div>
                </div>

                <div class="col-12 col-sm-12 col-md-2 col-lg-2 col-xl-2">
                  <label for="numero" class="form-label">Número</label>
                  <input type="text" class="form-control" id="numero" placeholder="Número" autocomplete="off" formControlName="numero"
                      [ngClass]="{'is-invalid': displayMessage?.numero}">
                  <div class="invalid-feedback" *ngIf="displayMessage?.numero">
                    <p [innerHTML]="displayMessage?.numero"></p>
                  </div>
                </div>

                <div class="col-12 col-sm-12 col-md-5 col-lg-5 col-xl-5">
                  <label for="bairro" class="form-label">Bairro</label>
                  <input type="text" class="form-control" id="bairro" placeholder="Bairro" autocomplete="off" formControlName="bairro"
                      [ngClass]="{'is-invalid': displayMessage?.bairro}">
                  <div class="invalid-feedback" *ngIf="displayMessage?.bairro">
                    <p [innerHTML]="displayMessage?.bairro"></p>
                  </div>
                </div>

                <div class="col-12 col-sm-12 col-md-5 col-lg-5 col-xl-3">

                      <label for="categoriaId" class="form-label">Categoria</label>
                      <select class="form-select" id="categoriaId" formControlName="categoriaId" (change)="obterDetalhesCategoria()" [ngClass]="{'is-invalid': displayMessage?.categoriaId}">
                          <option [ngValue]="0">Selecione...</option>
                          <option [ngValue]="item.id" *ngFor="let item of listaCategoria">{{item.descricao}}</option>
                      </select>
                      <div class="invalid-feedback" *ngIf="displayMessage?.categoriaId">
                        <p [innerHTML]="displayMessage?.categoriaId"></p>
                      </div>
                    <small >{{detalhesCategoria}}</small>
                </div>

                <div class="col-12 col-sm-12 col-md-3 col-lg-3 col-xl-3">
                    <label for="telefone" class="form-label">Telefone</label>
                    <input type="text" class="form-control" id="telefone" placeholder="Telefone" autocomplete="off" formControlName="telefone" 
                        mask="(00)00000-0000" [ngClass]="{'is-invalid': displayMessage?.telefone}">
                    <div class="invalid-feedback" *ngIf="displayMessage?.telefone">
                      <p [innerHTML]="displayMessage?.telefone"></p>
                    </div>
                </div>

                

              </div>

              <hr class="my-4">

              <div class="row d-flex justify-content-center">
                  <div class="col-12 col-sm-12 col-md-3 col-lg-3 col-xl-3 mb-3">
                      <button type="button" class="w-100 btn btn-success btn-lg" (click)="onSubmit()">Enviar</button>
                  </div>
              </div>

          </div>
          
        </div>

    </main>

</form>