<form (ngSubmit)="onSubmit()" class="container" [formGroup]="formulario">
    <main>
        <div class="py-3 text-center">
          <!-- <img class="d-block mx-auto mb-4" src="../assets/brand/bootstrap-logo.svg" alt="" width="72" height="57"> -->
          <h2>Dados do Participante</h2>
          
          <p class="lead">OBS: Obrigatório preencher todos os campos! qualquer alteração fora do prazo informado no Edital, o participante será desclassificado.</p>
        </div>


        <div class="row d-flex justify-content-center aling-items-center">
          
          <div class="col-12 ">

              <div class="row g-2">

                  <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-3">              
                      <label for="cpf" class="form-label">CPF / CNPJ</label>
                      <input type="text" class="form-control" id="cpf" placeholder="" autocomplete="off" formControlName="cpf_cnpj">
                      <div class="invalid-feedback">
                        Valid first name is required.
                      </div>
                  </div>

                  <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">              
                      <label for="nome" class="form-label">Nome</label>
                      <input type="text" class="form-control" id="nome" placeholder="" autocomplete="off" formControlName="nome">
                      <div class="invalid-feedback">
                        Valid first name is required.
                      </div>
                  </div>

                  <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                      <label for="lastName" class="form-label">Fantasia</label>
                      <input type="text" class="form-control" id="lastName" placeholder="" autocomplete="off" formControlName="fantasia" >
                      <div class="invalid-feedback">
                        Valid last name is required.
                      </div>
                  </div>

                  <div class="col-sm-6">
                      <label for="lastName" class="form-label invisible">Texo oculto</label>
                      <div class="form-check">
                          <input type="checkbox" class="form-check-input" id="same-address" formControlName="ja_participou_da_fgt">
                          <label class="form-check-label" for="same-address">Já participou do Festival Gastronômico de Taquaruçu?</label>
                      </div>
                  </div>

                <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                  <label for="username" class="form-label">Email</label>
                  <div class="input-group has-validation">
                    <span class="input-group-text">@</span>
                    <input type="email" class="form-control" id="username" placeholder="exemplo@email.com" formControlName="email">
                  </div>
                    <!-- <span class="invalid-feedback" *ngIf="displayMessage?.operacao_id">
                      <p [innerHTML]="displayMessage?.operacao_id"></p>
                    </span> -->

                </div>

                <div class="col-12 col-sm-12 col-md-3 col-lg-3 col-xl-3">
                  <label for="cep" class="form-label">Senha</label>
                  <input type="password" class="form-control" id="senha" placeholder="" formControlName="senha"
                  [ngClass]="'is-invalid'">
                  <span class="invalid-feedback">A senha é obrigatória.</span>

                </div>

                <div class="col-12 col-sm-12 col-md-3 col-lg-3 col-xl-3">
                  <label for="cep" class="form-label">Confirmação da Senha</label>
                  <input type="password" class="form-control" id="confimacao" placeholder="" formControlName="confirmacao_senha">
                </div>

                <div class="col-12 col-sm-12 col-md-3 col-lg-3 col-xl-3">
                  <label for="cep" class="form-label">Cep</label>
                  <input type="text" class="form-control" id="cep" placeholder="" autocomplete="off" formControlName="cep">
                </div>

                <div class="col-12 col-sm-12 col-md-9 col-lg-9 col-xl-9">
                  <label for="address" class="form-label">Endereço</label>
                  <input type="text" class="form-control" id="address" placeholder="Endereço" autocomplete="off" formControlName="endereco">
                </div>

                <div class="col-12 col-sm-12 col-md-5 col-lg-5 col-xl-5">
                  <label for="Bairro" class="form-label">Bairro</label>
                  <input type="text" class="form-control" id="Bairro" placeholder="Bairro" autocomplete="off" formControlName="bairro">
                </div>


                <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
                  <label for="cidade" class="form-label">Cidade</label>
                  <select class="form-select" id="cidade" formControlName="cidade">
                    <option [ngValue]="0">Selecione...</option>
                    <option [ngValue]="1">Palmas</option>
                    <option [ngValue]="2">Paraíso</option>
                    <option [ngValue]="3">Miracema</option>
                    <option [ngValue]="4">Porto Nacional</option>
                  </select>
                </div>

                <div class="col-12 col-sm-12 col-md-3 col-lg-3 col-xl-3">
                  <label for="estado" class="form-label">Estado</label>
                  <select class="form-select" id="estado" formControlName="estado">
                    <option [ngValue]="0">Selecione...</option>
                    <option [ngValue]="1">Tocantins</option>
                    <option [ngValue]="2">Maranhão</option>
                    <option [ngValue]="3">Bahia</option>
                    <option [ngValue]="4">Goiás</option>

                  </select>
                </div>

                <div class="col-md-12">
                    <div class="col-md-4">
                      <label for="state" class="form-label">Categoria</label>
                      <select class="form-select" id="state" formControlName="categoria">
                          <option [ngValue]="0">Selecione...</option>
                          <option [ngValue]="1">Comidinha Salgada</option>
                          <option [ngValue]="2">Prato Salgado</option>
                          <option [ngValue]="3">Prato Doce</option>
                          <option [ngValue]="4">Trailer/FoodTruck</option>
                          <option [ngValue]="5">Vegetariana</option>
                          <option [ngValue]="6">Categoria Rota Gastronômica</option>
                      </select>
                    </div>
                    <small class="text-muted">Conforme a Categoria selecionada, será visualizado os detalhes de cada categoria.</small>
                </div>
                

              </div>
            

              <hr class="my-4">

              <div class="row d-flex justify-content-center">
                  <div class="col-12 col-sm-12 col-md-3 col-lg-3 col-xl-3">
                      <button class="w-100 btn btn-primary btn-lg" >Enviar</button>
                  </div>
              </div>

          </div>
          
        </div>

    </main>

</form>