<div class="card">

  <h5 class="card-header d-flex justify-content-between align-items-center">
    Participantes
    <button class="btn btn-block btn-success d-flex pr-1"><i class="material-icons">add</i> Novo</button>
  </h5>  

  <div class="card-body">

      <div class="row">

        <div class="col-12 col-sm-12 col-md-2 col-lg-1 col-xl-1">
          <label for="codigo" class="form-label">Código</label>
          <input type="number" class="form-control" id="codigo" placeholder="">
        </div>
    
        <div class="col-12 col-sm-12 col-md-4 col-lg-3 col-xl-3 ">
          <label for="descricao" class="form-label">Nome</label>
          <input type="text" class="form-control" id="descricao" placeholder="">
        </div>

        <div class="col-12 col-sm-12 col-md-4 col-lg-3 col-xl-3 ">
          <label for="descricao" class="form-label">CPF / CNPJ</label>
          <input type="text" class="form-control" id="descricao" placeholder="">
        </div>

        <div class="col-12 col-sm-12 col-md-4 col-lg-3 col-xl-3">
          <label for="categoria" class="form-label">Categoria</label>
          <select class="form-select" id="categoria">
              <option [ngValue]="0">Todos</option>
              <option [ngValue]="1">Comidinha Salgada</option>
              <option [ngValue]="2">Prato Salgado</option>
              <option [ngValue]="3">Prato Doce</option>
              <option [ngValue]="4">Trailer/FoodTruck</option>
              <option [ngValue]="5">Vegetariana</option>
              <option [ngValue]="6">Categoria Rota Gastronômica</option>
          </select>
        </div>

        <!-- <div class=" col-12 col-sm-12 col-md-4 col-lg-3 col-xl-3 form-group align-self-end">
          <button class="btn btn-primary" id="pesquisar" name="pesquisar" type="button">Pesquisar</button>
        </div> -->

        <div class="col-sm-6 col-md-6 col-lg-1 col-xl-1">
          <div class="form-group">
              <label class="col-form-label-sm text-nowrap text-hide"></label>
              <button class="btn btn-block btn-primary d-flex pr-1"><i class="material-icons">search</i> Pesquisar</button>
          </div>
        </div>


      </div>
    
      <div class="col-12 mt-3 ">
          <div class="table-responsive" style="min-height: 30rem !important;" >
              <table class="table table-sm table-borderless table-striped table-hover " >
                  <thead class="thead">
                      <th class="text-nowrap">Código</th>
                      <th class="text-nowrap">Nome</th>
                      <th class="text-nowrap">Cpf/Cnpj</th>
                  </thead>
                  <tbody>
                      <tr>
                          <td>2</td>
                          <td>Fulano de tal</td>
                          <td>78945612345</td>
                      </tr>
                      <tr>
                          <td>3</td>
                          <td>Baltrano</td>
                          <td>78945612345</td>
                      </tr>
                      <tr>
                          <td>4</td>
                          <td>Ciclano</td>
                          <td>78945612345</td>
                      </tr>
                  </tbody>
              </table>
          </div>
      </div>

    

  </div>
</div>