<div class="py-3 text-center">
  <h2>Participantes</h2>
</div>

<div class="card mb-1 rounded-0 shadow-sm" id="target">
    <div class="card-body pt-1 pb-1 border-bottom">

      <div class="row">
          <div class="col-sm-4 col-md-3 col-lg-2 col-xl-2">
            <div class="form-group">
                <label for="id" class="col-form-label-sm">Código</label>
                <input type="number" id="id" name="id" class="form-control form-control-sm noscroll" placeholder="Código" />
            </div>    
          </div>
      </div>

        <div class="row mt-3">
          <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <div class="table-responsive">
              <table class="table table-borderless table-striped table-hover border-top border-dark" >
                <thead class="thead">
                  <th>Código</th>
                  <th>Nome</th>
                  <th>Fantasia</th>
                  <th>CPF/CNPJ</th>
                  <th>Técnico</th>
                  <th>Convidado</th>
                </thead>
                <tbody>
                  <tr class="cursor">
                    <td>TESTE</td>
                    <td>TESTE</td>
                    <td>TESTE</td>
                    <td>TESTE</td>
                    <td>
                      <span class="badge bg-success">Lançada</span>
                    </td>
                    <td>
                      <span class="badge bg-primary">Pendente</span>
                    </td>
                  </tr>
                  <tr>
                    <td>TESTE</td>
                    <td>TESTE</td>
                    <td>TESTE</td>
                    <td>TESTE</td>
                    <td>
                        <span class="badge bg-primary">Pendente</span>
                    </td>
                    <td>
                        <span class="badge bg-primary">Pendente</span>
                    </td>
                  </tr>
                  <tr>
                    <td>TESTE</td>
                    <td>TESTE</td>
                    <td>TESTE</td>
                    <td>TESTE</td>
                    <td>
                        <span class="badge bg-primary">Pendente</span>
                    </td>
                    <td>
                        <span class="badge bg-primary">Pendente</span>
                    </td>
                  </tr>
                  <tr>
                    <td>TESTE</td>
                    <td>TESTE</td>
                    <td>TESTE</td>
                    <td>TESTE</td>
                    <td>
                        <span class="badge bg-primary">Pendente</span>
                    </td>
                    <td>
                        <span class="badge bg-primary">Pendente</span>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    
</div>